{% extends 'base.html' %}

{% block meta %}

<head>
    <title>PlasTIX</title>
</head>

{% endblock meta %}

{% block content %}

<body>
    This is the homepage.
    <a href="{% url 'home:login_user' %}" role="button">login</a>
    <li style="display: inline;">
        <a href="{% url 'profilepage:show_profile' %}">Profile</a>
        <a href="{% url 'redeem:show_redeem' %}">Redeem</a>
        <a href="{% url 'recycle:show_recycle' %}">Recycle</a>
        <a href="{% url 'shopping:show_shop' %}">Shopping</a>
        <a href="{% url 'news:show_news' %}">News</a>
    </li>
    <br>
    <a class="btn btn-dark" href="{% url 'home:logout_user' %}" role="button">Logout</a>
</body>

{% endblock content %}
