{% extends 'base.html' %}

{% load static %}
{% block meta %}
<title>Drop Off</title>
<script src= "https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
<script src="{% static 'js/mydropoff.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/rec_style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="background-color: #476f4d;">
        <div class="container-fluid" >
          <a class="navbar-brand" href="{% url 'home:show_homepage' %}">
            <img src="" class="rounded-circle img-fluid" style="width: 60px;">
            PlasTIX</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-10">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'shopping:show_shop' %}">Shopping</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'profilepage:show_profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'news:show_news' %}">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'redeem:show_redeem' %}">Redeem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'recycle:show_recycle' %}">Recycle</a>
              </li>
            </ul>
              <a class="btn btn-dark btn-lg" href="{% url 'home:logout_user' %}">Logout</a>
          </div>
        </div>
      </nav>

<div id="dropoff-card" style="border-radius: 25px; background: #E4DEAE; margin: 60px; padding: 20px; color: #011B10;">
<div class="position-relative mx-auto container flex flex-col gap-4 pt-8" style="margin-top: 15px; text-align: center">
    <div class ="rounded-lg p-4 flex flex-col gap-4 mx-auto bg-base-100;" >
    
        <h1 style="padding-bottom: 10px; font-size: 40px;" class="font-monospace fw-semibold text-center">Drop Off Form</h1>
    
        <form method="POST" action="" style="display: inline-block;">
            {% csrf_token %}
            <table>
                {{ dropoff_form.as_table }}
                <tr>
                    <td colspan="2">
                        <input style="width: 100%; margin-top: 20px; margin-bottom: 7px;" id="dropoff-btn" class="btn btn btn-success" type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
       
    </div>
</div>
</div>

{% endblock content %}
