<!-- 
<div class="modal fade" id="pickUp" tabindex="-1" aria-labelledby="pickUpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Waste Pick Up Form</h1>
      </div>
      <div class="modal-body">
        <form method="POST" action="" style="display: inline-block;">
            {% csrf_token %}
          <table>
            {{ pickup_form.as_table }}
            <tr>
              <td colspan="2">
                <a class="btn btn-dark" href="#pickUp" role="button">Pick Up</a>
                <input class="btn btn-dark" data-bs-dismiss="modal" type="submit" value="Submit" id="pick-up-btn">
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  -->