{% extends 'base.html' %}

{% block meta %}

<link rel="stylesheet" href="static/css/style.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/css/style.css">

    <title>Redeem Points</title>

    {% load static %}
   <script src="{%static 'js/slider.js'%}"></script> 

</head>

{% endblock meta %}

{% block content %}

<body>
    
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-content">
            <div class="main-banner">

                <div class="row">
                    <div class="col-lg-7">
                        <div class="header-text">
                            <h6><em>Get your special voucher right now!</em></h6>
                            {%if user.is_authenticated%}
                            <h4><em>Welcome, {{user.get_username}}</em> </h4>
                            {% else %}
                            <h4>Redeem now!</h4>

                            {% endif %}
                            <div class="main-button">
                            <a href="#section1">Redeem Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
    </div>
    
                
    <div></div>

    <section class="page-content" id="section1">
        <div class="container">
            
            <div class="row">
                <div class="col">
                    <div class="section-heading">
                        <h2>Voucher Belanja</h2>
                        <span>Redeem your point to our valuable voucher!</span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="MultiCarousel" data-items="1,3,5,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                                <div class="MultiCarousel-inner" id="belanja">
                                </div>
                                <button class="btn btn-dark leftLst"><</button>
                                <button class="btn btn-dark rightLst">></button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        </div>
        
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Pulsa</h2>
                    <span>Redeem your point to our valuable voucher!</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                            <div class="MultiCarousel-inner" id="pulsa">
                            </div>
                            <button class="btn btn-dark leftLst"><</button>
                            <button class="btn btn-dark rightLst">></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Voucher Merchant</h2>
                    <span>Redeem your point to our valuable voucher!</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                            <div class="MultiCarousel-inner" id="merchant">
                            </div>
                            <button class="btn btn-dark leftLst"><</button>
                            <button class="btn btn-dark rightLst">></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section1">
        <div class="row">
            <div class="col-lg-12" style="color: #014923;">
                <h1> Let us know!</h1>
                <h5> Apakah kamu tidak menemukan voucher favoritmu? Maukah kamu memberitahu kami?.</h5>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#letModal">Beri tahu kami!</button>

            </div>
        </div>



    </section>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Redeem Points</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Kamu akan menukarkan poinmu dengan penawaran voucher terbaik kami. Poin akan berkurang sesuai dengan harga poin tertera pada voucher pilihanmu.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn1 btn-outline-light" data-toggle="modal" data-dismiss="modal" data-target="#myModal">Setuju</button>
            </div>
          </div>
        </div>
      </div>

      <div id="myModal" class="modal">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>    
                    <h4 class="modal-title w-100">Success!</h4> 
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        Kamu telah berhasil menukarkan poinmu dengan voucher kami. Silahkan cek emailmu untuk info lebih lanjutnya.
                        kumpulkan terus poin plastix dan dapatkan penawaran menarik lainnya!</p>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    <div class="modal" id="letModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="width:500px">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Let us know</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="reset_element()"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="" id="new_voucher">
                {% csrf_token %}
                <div style="text-align: start;">
                    <label for="exampleFormControlInput1">Merchant favoritmu</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Merchant favorit" required>
                </div>
                <br>
                <div style="text-align: start;">
                    <label for="exampleFormControlInput1">Alasan</label>
                    <textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
                </div>
                <br> <br>

                <button type="button" class="discard" data-bs-dismiss="modal" onclick="reset_element()">Close</button>
                <button type="submit" class="submit" data-bs-dismiss="modal">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script>
            let voucher = "";
            $.ajax({
                url: "{% url 'redeem:show_json' %}",
                type: "GET",
                dataType: "json",
                success: function(data){
                    if(data == 0) {
                        $('#belanja').html("")
                        $('#pulsa').html("")
                        $('#merchant').html("")
                    }
                    
                    else {
                        for (i of data){
                            if(i.fields.jenis_voucher == "voucher belanja"){ 
                                console.log(data)
                                voucher += `
                                <div class ="item">
                                    <div class="pad15">
                                        <div class="head-card-ind">
                                        </div>
                                        <h4>${i.fields.title_voucher}</h4>
                                        <h5>🪙${i.fields.harga_poin}</h5>
                                        <h6>${i.fields.deskripsi}</h6>

                                        {%if user.is_authenticated%}
                                        <button type="button" class="btn btn-outline-light clr" data-toggle="modal" data-target="#exampleModal"> redeem now </button>
                                        {% else %}
                                        <a class="btn" href=/login>Redeem Now</a>
                                        {% endif %}

                                    </div>
                                    </div>
                                    </div>
                                </div>`;
                                $('#belanja').html(voucher)
                            }
                        }
                        voucher ='';
                        for (i of data){
                            if(i.fields.jenis_voucher == "pulsa"){ 
                                console.log(data)
                                voucher += `
                                <div class ="item">
                                    <div class="pad15">
                                        <div class="head-card-pls">
                                        </div>
                                        <h4>${i.fields.title_voucher}</h4>
                                        <h5>🪙${i.fields.harga_poin}</h5>
                                        <h6>${i.fields.deskripsi}</h6>
                                        {%if user.is_authenticated%}
                                        <button type="button" class="btn btn-outline-light clr" data-toggle="modal" data-target="#exampleModal"> redeem now </button>
                                        {% else %}
                                        <a class="btn" href=/login>Redeem Now</a>
                                        {% endif %}

                                    </div>
                                    </div>
                                    </div>
                                </div>`;
                                $('#pulsa').html(voucher)
                            }
                        }
                        
                        voucher ='';
                        title_voucher='';
                        for (i of data){
                            if(i.fields.jenis_voucher == "voucher merchant"){ 
                                console.log(data)
                                voucher += `
                                <div class ="item">
                                    <div class="pad15">
                                        <div class="head-card-shop">
                                        </div>
                                        <h4>${i.fields.title_voucher}</h4>
                                        <h5>🪙${i.fields.harga_poin}</h5>
                                        <h6>${i.fields.deskripsi}</h6>
                                        {%if user.is_authenticated%}
                                        <button type="button" class="btn btn-outline-light clr" data-toggle="modal" data-target="#exampleModal"> redeem now </button>
                                        {% else %}
                                        <a class="btn" href=/login>Redeem Now</a>
                                        {% endif %}
                                    </div>
                                    </div>
                                    </div>
                                </div>`;
                                $('#merchant').html(voucher)
                            }
                        }
                    }
                },
                error: function(data) {
                    console.log('Error')
                }
            })
            
    </script>
    <!-- <script>
         $(document).on("submit",function(e) {
            e.preventDefault();
            $.ajax ({
                url: "{% url 'redeem:request_voucher' %}",
                type: "POST",
                body: new FormData(document.querySelector("#modalsat"))
            })
            $("formvoucher")[0].reset()
        })
    </script> -->
    <script>
        function reset_element(){
          $("#new_voucher")[0].reset();
        }

        $(document).on('submit', '#new_voucher', function(e){
          e.preventDefault();
          $.ajax({
            type: 'POST',
            url: "{% url 'redeem:request_voucher' %}",
            data: {
              title: $('#title').val(),
              description: $('#description').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action:'post',
            },
            dataType: 'json',
            success: function(data){
              console.log("Done");
              data_json();
              $('#add_new_todo').modal('hide');
              $('.modal_backdrop').remove();
              reset_element()
            }
          })
        })

    </script>
    <script>
        $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();

    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }
    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }
}); 
    </script>
    
    
    {% endblock content %}